<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>br.com.cmapps.radar</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.12</string>
	<key>CFBundleVersion</key>
	<string>1.0.12</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Necessário para geolocalizar a imagem.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necessário para geolocalizar a imagem.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Roboto-Condensed.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleName</key>
	<string>Radar</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Este Aplicativo precisa de acesso a câmera para tirar fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este Aplicativo precisa de acesso a galeria de fotos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Este Aplicativo precisa de acesso ao microfone.</string>
</dict>
</plist>
